*{
    margin:0;
    padding:0;
}
.section{
    width:100vw;
    height: 10%;
    background-color: rgba(214, 155, 44, 0.986);
    color:#fff;
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
    padding-top: 1rem;
    border-radius: 10px;
}
textarea{
    width:80%;
    height:20vh;
    display: block;
    margin:2rem;
    padding:1rem;
}
button{
    width: 80px;
    font-size: 1rem;
    margin:0 50px;
}
.output{
    width:80%;
    height:10vh;
    padding:1rem;
    margin:2rem;
    border:1px solid black;
}